{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% if object %}
  <h1 id="carAdd">Edit <span class="teal-text">{{ object.make }}</span></h1>
  {% else %}
  <h1 class="title" id="carAdd">Add Car</h1>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    <div id="formsAddCar">
      <table>
        {{ form.as_table }}
      </table>
      <br>
      <input type="submit" value="Add Car to Blindspot" class="btn light-blue lighten-1">
    </div>
  </form>
</div>
{% endblock %}