{% extends 'base.html' %}
{% block content %}

<h1>About Blindspot <img src="https://i.imgur.com/BRhevDE.png" alt="car" class="car"></h1>
<hr>
<p>We here at Blindspot want our users to have the best rated knowledge before going into the market for that big purchase.
</p>
<p>
  Get the information you need, when you need it.
  <br>
  Read reviews from real people.
  <br>
  Save and organize.
</p>
<h3>Meet the Team</h3>

<table class="striped">
  <thead>
    <tr>
      <th><img src="https://i.imgur.com/8r3Nbgj.png" alt=""></th>
      <th><img src="https://i.imgur.com/0GDb2VL.png" alt="Jordan-Christopher"></th>
      <th><img src="https://i.imgur.com/qFhKu1d.png" alt=""></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>Tesh Deo</p>
        <a href="https://www.github.com/tesh510" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg" width="32" height="32" /></a>
      </td>
      <td>
        <p>Jordan-Christopher Garcia</p>
        <a href="https://www.github.com/jctgarcia20" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg" width="32" height="32" /></a>
      </td>
      <td>
        <p>Yi Li</p>
        <a href="https://www.github.com/iam-yi" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg" width="32" height="32" /></a>
      </td>
    </tr>
  </tbody>
</table>



{% endblock %}