{% extends 'base.html' %}
{% block content %}

<h1>About Blindspot <img src="https://i.imgur.com/BRhevDE.png" alt="car" class="car"></h1>

<hr />
<h3>Meet the Team</h3>
<p>say something</p>
<h4>Contact Us:</h4>
<div id="contact">
  <p>
    <p>Tesh Deo</p>
    <img src="https://i.imgur.com/8r3Nbgj.png" alt="">
    <a href="https://www.github.com/tesh510" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg" width="32" height="32" /></a>
  </p>
  <p>Jordan-Christopher Garcia</p>
    <img src="https://i.imgur.com/0GDb2VL.png" alt="Jordan-Christopher">
    <a href="https://www.github.com/jctgarcia20" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg" width="32" height="32" /></a>
  </p>
  <p>
    <p>Yi Li</p>
    <img src="https://i.imgur.com/qFhKu1d.png" alt="">
    <a href="https://www.github.com/iam-yi" target="_blank" rel="noreferrer"><img src="https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg" width="32" height="32" /></a>
  </p>
</div>



{% endblock %}