{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blindspot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.imgur.com/EL2mVW9.png"/>
</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div>
                <ul>
                    <li><a href="/" class="brand-logo center black-text">&nbsp;&nbsp;Blindspot</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'about' %}" class="black-text">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'cars_create' %}" class="black-text">Add a Car</a></li>
                    <li><a href="{% url 'index' %}" class="black-text">All Car Reviews</a></li>
                    <div class="right hide-on-med-and-down">
                        <li><a href="{% url 'logout' %}" class="black-text">Log Out</a></li>
                        {% else %}
                        <li><a href="{% url 'signup' %}" class="black-text">Sign Up</a></li>
                        <li><a href="{% url 'login' %}" class="black-text">Log In</a></li>
                    </div>
                    {% endif %}
                </ul>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer grey darken-2">
        <div class="right">All Rights Reserved, &copy; 2022 Blindspot &nbsp;</div>
    </footer>
</body>

</html>