{% extends 'base.html' %}
{% block content %}

<div id="homePage">
  <div id="containerHome">
    <video autoplay loop muted>
      <source src="https://i.imgur.com/2D2hFRj.mp4" type="video/mp4">
    </video>
    <div id="text-box">
      <h1 id="logo">BLINDSPOT</h1>
      <br>
      <a href="cars/create/" class="btn white-text" id="homeBtn">Add Car</a>
    </div>
  </div>
  
  <br>
  <h1 id="slogan">Quick. Easy. Reliable.</h1>
  <p id="mission">Here at Blindspot, we want our users to have the best rated knowledge before going into the market for that big car purchase.</p>

  <br>
  <h4 class="homeCaps">Get the information you need, when you need it.</h4>
  <img src="https://i.imgur.com/eEShxOd.jpg" class="homeImgs">
  <br>
  <h4 class="homeCaps">Read reviews from real people.</h4>
  <img src="https://i.imgur.com/1NAbDxk.jpg" class="homeImgs">
  <br>
  <h4 class="homeCaps">Save and organize.</h4>
  <img src="https://i.imgur.com/TBaN05z.jpg" class="homeImgs">

</div>

{% endblock %}
