* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(234, 234, 234);
}

main {
  flex: 1 0 auto;
}

#homePage {
  width: 100%;
  text-align: center;
}

#containerHome {
  width: 100%;
  height: 100vh;
  position: relative;
}

#containerHome video {
  width: 100%;
  height: 100%;
}

#text-box {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  height: 100%;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 900;
  mix-blend-mode: multiply;
}

#logo {
  font-size: 11rem;
  font-weight: bolder;
}

nav {
  background-color: white !important;
}

#slogan {
  text-align: center;
}

#car {
  width: 20px;
  height: 20px;
}

.contact {
  display: flex;
  flex-direction: row;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}